body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 46, 46);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 2rem;
  font-size: 3rem;
}